amqp==5.0.6
billiard==3.6.4.0
CacheControl==0.12.10
cachetools==4.2.4
celery==5.2.1
certifi==2021.10.8
charset-normalizer==2.0.9
click==8.0.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.4
firebase-admin==5.1.0
geojson==2.5.0
google-api-core==2.3.0
google-api-python-client==2.33.0
google-auth==2.3.3
google-auth-httplib2==0.1.0
google-cloud-core==2.2.1
google-cloud-firestore==2.3.4
google-cloud-storage==1.43.0
google-crc32c==1.3.0
google-resumable-media==2.1.0
googleapis-common-protos==1.54.0
grpcio==1.42.0
grpcio-status==1.42.0
httplib2==0.20.2
idna==3.3
kombu==5.2.2
msgpack==1.0.3
packaging==21.3
prompt-toolkit==3.0.24
proto-plus==1.19.8
protobuf==3.19.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyowm==3.2.0
pyparsing==3.0.6
PySocks==1.7.1
python-crontab==2.6.0
python-dateutil==2.8.2
pytz==2021.3
requests==2.26.0
rsa==4.8
six==1.16.0
uritemplate==4.1.1
urllib3==1.26.7
vine==5.0.0
wcwidth==0.2.5
