.frame19-header {
  display: flex;
  padding: 1vw;
  align-items: center;
}

.some-page-wrapper {
  margin-top: 200px;
  margin-left: 300px;
}
 
.frame19-footer {
  padding: 0.7vw 1vw 0.7vw 1vw;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
}
  
.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
  
.blue-column {
  background-color: blue;
  height: 100px;
}
  
.green-column {
  background-color: green;
  height: 100px;
}